body {
    font-family: 'Poppins';
}


.main{
    display: flex;
    padding: 55px;
}


.left{
    width: 235px;
}

.right{
    padding-left: 30px;
}
.logo{
    margin-bottom: 70px;
}
.link-block{
    margin-left: 25px;
}
.nav-text{
    width: 120px;
    padding-left: 15px;
    font-size: 16;
}

.nav-text:hover{
    color:#347ae2;
}

.nav-active-text{
    padding-left: 15px;
    color: #347ae2;
}

.nav-text-red{
    width: 120px;
    padding-left: 15px;
    color: #ff3b30;
    font-size: 16px;
}

.title{
    display: flex;
    margin-bottom: 65px;
    justify-content: space-between;
}

.user-block{
    display: flex;
    align-items: center;

}

.user-name{
    font-size: 16px;
}

.large-title{
    margin-right: 50px;
    font-size: 30px;
}

text-block{
    color: #7c8db5;
    font-size: 16px;
}

.card-block{
    border-right: 1px solid #e6edff;
    padding: 20px;

}

.card-block-last{
    border-right: 0px solid #e6edff;
    padding: 20px;

}


.data{
    display: flex;
    align-items: stretch;

}

.sub-data{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

large-numbers{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28px;
}

text-block-2{
    margin-bottom: 5px;
    color:#000
}

.icon-block{
    margin-right: 10px;
    color: #7c8db5
}
.chart-block{
    padding-right: 20px;
}

.medium-title{
    font-size: 20px;
}

.list-title{
    display: flex;
    justify-content: space-between;  
}


.nav-up{
    margin-bottom: 350px;
}


.item{
    display: flex;
    margin-bottom:25px;
    align-items: center;
}

.item-active{
    display: flex;
    margin-bottom:25px;
    align-items: center;
    border-right: 5px solid #347ae2;
}


.unit{
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
}
.cards{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-color: #e6edff;
    border-radius:  15px;
}


.charts{
    display: flex; 
}


.table{
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6edff;
    border-radius:  15px;
}

.col-names{
    display: flex;
    border-bottom: 1px solid #e6edff;
    justify-content: space-around;
}


.icon-block{
    justify-content: center;
}



.text-block-3{
    color: #7c8db5;
    font-size: 12px;
}

.nav-frame{
    border-right: 1px solid #e6edff;
}